# Mantén node_modules fuera del contexto para reducir peso
node_modules

# Ignora logs locales
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignora git y Docker internos
.git
.gitignore
Dockerfile
docker-compose*.yml

# ❌ PERO NO ignores .next ni prisma ni public
# (esas se copian dentro del contenedor)
