# Mantén node_modules fuera del contexto para reducir peso
node_modules

# Ignora logs locales
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignora git y Docker internos
.git
.gitignore
Dockerfile
docker-compose*.yml
