# Environment Configuration
NODE_ENV="development"
PORT="3001"
HOST="localhost"
NEXT_PUBLIC_BASE_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_BASE_API_AUTH=http://localhost:3000/api/authentication

# Database
DB_ENABLED=false
DB_TYPE=mysql
DB_PASSWORD=9Jrvzd1OF3
DB_ROOT_PASSWORD=1xD015itee
DB_USER=rh_municipio_user
DB_DATABASE=rh_municipio_db
DB_HOST=mysql
DB_PORT=3307
DATABASE_URL="mysql://root:1xD015itee@mysql:3306/rh_municipio_db"
DATABASE_URL_NON_POOLING="mysql://root:1xD015itee@mysql:3306/rh_municipio_db"

#NEXT-AUTH
NEXTAUTH_SECRET=llXfTO6YPwUg4/1wNMTNkpy96KsYZqiI67CHKpYoE9I=

# JWT
JWT_ENABLED=false
JWT_SECRET_KEY=eYn1y9ZAjhzhCkfb77gx
JWT_ALGORITHM=HS512
JWT_ISSUER=guardbuildinginvestments.com
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=2h

# Contants
MAX_NUM_VACATION_DAYS=20
